@use '@/assets/styles/variables.scss' as *;
@use '@/assets/styles/mixin' as *;

.dictionary-layout {
  @include flex-column-center-center;
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: clamp(1rem, 3vw, 2rem);
}
