@use '@/assets/styles/variables.scss' as *;
@use '@/assets/styles/mixin' as *;

.tools {
  @include page-section;

  & .title {
    @include section-heading;
    line-height: 2.5rem;
  }

  & .description {
    @include section-description;
  }

  & .grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;

    @media (min-width: 48rem) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 64rem) {
      grid-template-columns: repeat(6, minmax(0, 1fr));

      > :first-child {
        grid-column: 1 / -1;
      }

      > :not(:first-child) {
        grid-column: span 2;
      }
    }
  }

  & .icon {
    width: 2rem;
    height: 2rem;
    color: $primary-color;
  }
}
