@use '@/assets/styles/variables' as *;
@use '../../assets/styles/mixin' as *;

.footer {
  //   background-color: $color-bg-primary;
  //   border-top: 1px solid $primary-color;
  padding: 1.5rem 0;
  background-color: $secondary-color;
  & .social_icons {
    color: $primary-color;
  }
}
