@import '@/assets/styles/variables';
@import '../../assets/styles/mixin';

.footer {
  //   background-color: $color-bg-primary;
  //   border-top: 1px solid $primary-color;
  padding: 1.5rem 0;
  background-color: $secondary-color;
  & .social_icons {
    color: $primary-color;
  }
}
