@import "../../assets/styles/mixin";

.nav {
  @include flex-row-start-end;
  flex: 1;
  min-width: 0;
  container-type: inline-size;

  &_list {
    @include flex-row-center-center;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex: 1;

    & > li {
      @include flex-row-center-center;
      position: relative;
      white-space: nowrap;
      flex: 1;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.25rem;
        width: 100%;
        height: 0.125rem;
        background-color: #000; /* Underline color */
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }

      & > a {
        color: var(--secondary-color);
        font-weight: 500;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    &.column {
      @include flex-column-start-start;
      gap: 0.5rem;

      & > li{
        width: 100%;

        & > a {
          @include flex-row-center-center;
          width: 100%;
          padding: .5rem 1rem;
        }
      }
    }
  }

  @include respond(lg) {
    &_list {
      gap: 1rem;
    }
  }

  @include respond(md) {
    width: 100%;

    &_list {
      justify-content: flex-start;
      gap: 0.75rem 1rem;
    }
  }

  @include cq-max(35rem) {
    &_list {
      gap: 0.625rem 0.875rem;
    }
  }
}
